@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap');


body {
    background-color:rgba(8, 20, 32, 0.796);
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/c/c5/Vellore_Institute_of_Technology_seal_2017.svg/1200px-Vellore_Institute_of_Technology_seal_2017.svg.png");
    background-size: 100% 100%;

   /* HERE */
        overflow-y: auto; /* Add vertical scroll if content exceeds the height */
        overflow-x: auto; /* Enable horizontal scrolling */
      
}
#names{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: beige;
}
h1 {
    /* HERE */
    font-size: 2.2rem;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 500;
    text-align: center;
    color: rgba(14, 32, 226, 0.888)  ;
    letter-spacing: 2px;
    text-shadow: 0 0 25px rgb(255, 255, 255);
}


/* Creating the table from the divs within the periodic table class, repeating columns until there are 18
   also repeating rows until there are 10*/
.periodicTable {
    display: grid;
    grid-template-columns: repeat(18, auto);
    grid-template-rows:repeat(10, auto);
    column-gap: 1px;
    row-gap: 1px;
    justify-content: center;
    margin-top: 2rem;
    
    max-width: 100%;
    height: auto;
    
}

/* Grouping all of the elemental classes into one declaration so as not to have to do it for each one individually.
    I added min and max widths based on the viewport to keep the blocks looking relatively symmetrical*/
.nobleGas, .lanthanide, .nonMetal, .alkaliMetal, .alkalineEarthMetal, .metalloid, .halogen, .transitionMetal, .postTransitionMetal, .actinide {
    border: 2px solid rgb(14, 93, 229);
    border-radius: 8px;
    margin: 1px;
    width: 60px;
    max-width: 65px;
    min-width: 55px;
    height: auto;
    
}


/* Changing the colour of each of the elemental classes */

.nonMetal {
    background-color: black;
    color: rgb(80, 127, 221);
    border-color: rgb(26, 79, 179);
    transition: .2s;
  }
  
  .nonMetal:hover {
    color: black;
    background-image: linear-gradient(to bottom right, rgb(137, 150, 251) 0%, rgb(238, 238, 238) 50%, rgb(137, 139, 251) 100%);
    transform: scale(1.25);
    transition: .2s;
    cursor: pointer;
    border: none;
  }
  

.nobleGas {
    color: rgb(47, 50, 234);
    border-color:rgb(48, 58, 197) ;
    background-color: black;
    transition: .2s;
}

.nobleGas:hover{
    color: black;
    background-image: linear-gradient(to bottom right, rgb(13, 39, 231) 0%, rgb(238, 238, 238) 50%, rgb(40, 93, 224) 100%);
    transform: scale(1.25);
    transition: .2s;
    cursor: pointer;
    border: none;

}

.alkaliMetal {
    color: rgb(36, 66, 217);
    border-color:rgb(31, 82, 184) ;
    background-color: black;
    transition: .2s;
}
.alkaliMetal:hover {
    color: black;
    background-image: linear-gradient(to bottom right, rgb(59, 69, 202) 0%, rgb(238, 238, 238) 50%, rgb(73, 98, 201) 100%);
    transform: scale(1.25);
    transition: .2s;
    cursor: pointer;
    border: none;

}

.alkalineEarthMetal {
   color: rgb(41, 77, 235);
   background-color: black;
   border-color: rgb(41, 51, 235);
   transition: .2s;
}

.alkalineEarthMetal:hover {
    color: black;
    background-image: linear-gradient(to bottom right, rgb(26, 65, 237) 0%, rgb(238, 238, 238) 50%, rgb(28, 25, 227) 100%);
    transform: scale(1.25);
    transition: .2s;
    cursor: pointer;
    border: none;

}

.metalloid {
    color: rgb(70, 94, 200);
    background-color: black;
    border-color: rgb(49, 85, 169);
    transition: .2s;
}
.metalloid:hover {
    color: black;
    background-image: linear-gradient(to bottom right, rgb(39, 67, 179)0%, rgb(238, 238, 238) 50%, rgb(40, 94, 201)100%);
    transform: scale(1.25);
    transition: .2s;
    cursor: pointer;
    border: none;

}

.postTransitionMetal {
    color: rgb(25, 95, 235);
    border-color:rgb(49, 16, 237) ;
    background-color: black;
    transition: .2s;
}
.postTransitionMetal:hover {
    color: black;
    background-image: linear-gradient(to bottom right, rgb(27, 72, 251)0%, rgb(238, 238, 238) 50%, rgb(38, 45, 148)100%);
    transform: scale(1.25);
    transition: .2s;
    cursor: pointer;
    border: none;

}

.halogen {
    color: rgb(19, 94, 206);
    background-color: black;
    border-color:rgb(57, 29, 216) ;
    transition: .2s;
}
.halogen:hover {
    color: black;
    background-image: linear-gradient(to bottom right, rgb(25, 80, 199) 0%, rgb(238, 238, 238) 50%, rgb(17, 70, 230) 100%);
    transform: scale(1.25);
    transition: .2s;
    cursor: pointer;
    border: none;

}

.transitionMetal {
    color: rgb(71, 203, 247);
    background-color: black;
    border-color:rgb(71, 203, 247) ;
    transition: .2s;
}
.transitionMetal:hover {
    color: black;
    background-image: linear-gradient(to bottom right, rgb(71, 203, 247)  0%, rgb(238, 238, 238) 50%, rgb(71, 203, 247)  100%);
    transform: scale(1.25);
    transition: .2s;
    cursor: pointer;
    border: none;

}

.lanthanide {
    color: rgb(82, 82, 236);
    background-color: black;
    border-color: rgb(82, 82, 236);
    transition: .2s;
}

.lanthanide:hover {
    color: black;
    background-image: linear-gradient(to bottom right, rgb(82, 82, 236)   0%, rgb(238, 238, 238) 50%, rgb(82, 82, 236)   100%);
    transform: scale(1.25);
    transition: .2s;
    cursor: pointer;
    border: none;

}

.actinide {
    color: rgb(60, 140, 244);
    border-color: rgb(51, 56, 206);
    background-color: black;
    transition: .2s;
}

.actinide:hover {
    color: black;
    background-image: linear-gradient(to bottom right, rgb(244, 171, 60)   0%, rgb(238, 238, 238) 50%, rgb(244, 171, 60)   100%);
    transform: scale(1.25);
    transition: .2s;
    cursor: pointer;
        border: none;

}

/* Formatting the element number value */
.elementNumber {
    font-family:  'Courier New', Courier, monospace;
    font-size: 10px;
    font-weight:bold;
    padding-top: 2px;
    padding-left: 4px;
}

/* Formatting the element symbol - making the text relative to the screen width, so it stays large enough to read but doesnt distort the blocks */
.elementSymbol {
    font-family: 'Comfortaa', cursive, 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 2px;
}

/* Formatting the element name */
.elementName {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .55rem;
    letter-spacing: .2px;
    padding-bottom: 3px;
    padding-left: 1px;
    font-weight: 100;
    overflow: hidden;
}

/* adding the blank space on the top row of the table using a blank div */
.blankRow1 {
    grid-column: 2/span 16;
    grid-row: 1;
}

/* adding the blank space on the second row of the table using a blank div */
.blankRow2 {
    grid-column: 3/span 10;
    grid-row: 2/span 2;
}

/* adding the blank space in the 3rd column, spanning 6th and 7th rows using a blank div */
.blankRow3 {
    grid-column: 3;
    grid-row: 6/span 2;
}

/* adding the blank row in row 8 of the table to give the space between row 7 and 9 */
.blankRow4 {
    grid-column: 1/span 18;
    grid-row: 8;
    margin: 6px;
}


/* Adding the space at the bottom left of the table */
.blankRow5 {
    grid-column: 1/span 3;
    grid-row:9/span 2;
}


@media (max-width: 767px) {

    body {
        margin: 0;
        min-width: 340px;
    }

    .periodicTable {
        display: flex;
        flex-direction: column;
        padding: 25px;
        padding-top: 0;
    }


    .nobleGas,
    .lanthanide,
    .nonMetal,
    .alkaliMetal,
    .alkalineEarthMetal,
    .metalloid,
    .halogen,
    .transitionMetal,
    .postTransitionMetal,
    .actinide {
        width: 100%;
        max-width: none;
        min-width: none;
        min-height: 50px;
        margin-bottom: 10px;
    }

    .nobleGas:hover,
    .lanthanide:hover,
    .nonMetal:hover,
    .alkaliMetal:hover,
    .alkalineEarthMetal:hover,
    .metalloid:hover,
    .halogen:hover,
    .transitionMetal:hover,
    .postTransitionMetal:hover,
    .actinide:hover {
        transform: scale(1.01);
        border: 2px solid rgba(255, 255, 255, 0);
    }

    .blankRow1,
    .blankRow2,
    .blankRow3,
    .blankRow4,
    .blankRow5 {
        display: none;
    }

    .elementTile {
        display: flex;
        align-items: center;

    }
    .elementNumber {
        width: 10%;
        text-align: center;
        font-size: 1.2rem;
        
      }
      
      .elementSymbol {
        width: 10%;
        text-align: center;
        font-size: 1.8rem;


      }
      
      .elementName {
        width: 70%;
        padding-left: 5%;
        font-size: 1.3rem;
        transform: translateY(15%);
        letter-spacing: 2px;

      }

}

  
